<div class="container">
<div class="jumbotron">
  <h1 class="display-3">Edit Post For User ID # <%= @post.user.id %></h1>
  <hr>
<%= render 'form', post: @post %>
  <hr>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
</div>

</div>